body {
  background-color: #FFDF00;
  color: #000;
}

#movie {
  width: 60%;
}

#word {
  width: 25%;
}

#buton {
  width: 15%;
  float: left;
}

#movie:focus, #word:focus {
  box-shadow: none;
}

.element {
  height: 50px;
  float: left;
  border: none;
}

.inputs {
  margin-top: 15%;
}

.headtext {
  padding: 20px;
}
